version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres-ea
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-ea
    depends_on:
      - postgres
    ports:
      - "8091:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/ea-realm-export.json
    volumes:
      - ./ea-realm-export.json:/opt/keycloak/data/import/ea-realm-export.json
    command:
      - start-dev
      - --import-realm

volumes:
  postgres-data:
